<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script src="/static/index.js"></script>
  <link rel="stylesheet" href="/static/index.css">
  <h1>Hello</h1>
  <button onclick="handleClick()">+1</button>
</body>
</html>