<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="./index2.css">
    </head>
    <body>
        <header>双飞翼布局</header>
        <main>
            <div class="main">
                <div>MainMainMainMainMainMainMainMainMainMainMainMainMainMainMainMainMainMainMainMainMainMainMainMain</div>
            </div>
            <div class="left">Left</div>
            <div class="right">Right</div>
        </main>
        <footer>Footer</footer>
    </body>
</html>