body,html {
    padding: 0;
    margin: 0;

}

.container {
    display: flex;
    width: 100%;
}

.left {
    flex: 0 50px;
    display: inline-block;
    background-color: red;
    margin-right: 10px;
}

.right {
    flex: 1;
    display: inline-block;
    white-space: nowrap;
    overflow-x: scroll;
    box-sizing: border-box;
    height: 50px;
}

.right::-webkit-scrollbar {
    display:none
}

.item {
    width: 60px;
    height: 50px;
    display: inline-block;
    background-color: blue;
    margin-right: 10px;
}

.item:last-of-type {
    margin-right: 0;
}
